<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>CX20585</string>
					<key>CodecID</key>
					<integer>351359081</integer>
					<key>Comment</key>
					<string>CX20585 for ThinkPad T410 by WingChou</string>
					<key>ConfigData</key>
					<data>
					AZccUAGXHUABlx4hAZcfAQH3HEAB9x0BAfce
					EAH3H5ABtxwgAbcdMAG3HoEBtx8BAjccEAI3
					HQECNx6gAjcfkA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>CX20590</string>
					<key>CodecID</key>
					<integer>351359086</integer>
					<key>Comment</key>
					<string>CX20590 for ThinkPad T420 by WingChou</string>
					<key>ConfigData</key>
					<data>
					AFccAABXHQAAVx5WAFcfGABnHBAAZx0AAGce
					VgBnHxgAdxwgAHcdAAB3HlYAdx8YAZccMAGX
					HRABlx4hAZcfBAGnHEABpx2QAaceoQGnH2EB
					txxQAbcdEAG3HoEBtx8BAcccYAHHHUABxx4h
					AccfYQH3HHAB9x0BAfceFwH3H5kCNxyAAjcd
					AQI3HqYCNx+ZAbcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269VC</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for ThinkPad T430s by WingChou</string>
					<key>ConfigData</key>
					<data>
					AUccAAFHHQEBRx4XAUcfmQFXHBABVx0QAVce
					IQFXHwEBhxwgAYcdEAGHHoEBhx8BASccMAEn
					HQEBJx6mAScfmQFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC292</string>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>ALC292 for ThinkPad T440 by WingChou</string>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQABJx6gAScfkAFHHEABRx0AAUce
					FwFHH5ABRwwCAVccUAFXHRABVx4hAVcfAAGn
					HCABpx0QAacegQGnHwA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC292</string>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>ALC292 for ThinkPad T450 by WingChou</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwgAUcdAQFHHhcBRx+QAVccMAFX
					HRABVx4hAVcfAwFnHPABZx0AAWceAAFnH0AB
					hxzwAYcdAAGHHgABhx9AAZcc8AGXHQABlx4A
					AZcfQAGnHEABpx0QAacegQGnHwMBtxzwAbcd
					AAG3HgABtx9AAdcc8AHXHQAB1x4AAdcfQAHn
					HPAB5x0AAeceAAHnH0ABRwwCAVcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC293 - extra LineOut on Dock</string>
					<key>CodecID</key>
					<integer>283902611</integer>
					<key>Comment</key>
					<string>ALC293 for ThinkPad T460 by WingChou</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwgAUcdAQFHHhcBRx+QAVccMAFX
					HRABVx4hAVcfAwFnHPABZx0AAWceAAFnH0AB
					hxzwAYcdAAGHHgABhx9AAZcc8AGXHQABlx4A
					AZcfQAGnHEABpx0QAacegQGnHwMBtxzwAbcd
					AAG3HgABtx9AAdcc8AHXHQAB1x4AAdcfQAHn
					HPAB5x0AAeceAAHnH0ABRwwCAVcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC293</string>
					<key>CodecID</key>
					<integer>283902611</integer>
					<key>Comment</key>
					<string>ALC293 for ThinkPad T460 by WingChou</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwgAUcdAQFHHhcBRx+QAVccMAFX
					HRABVx4hAVcfAwFnHPABZx0AAWceAAFnH0AB
					hxzwAYcdAAGHHgABhx9AAZcc8AGXHQABlx4A
					AZcfQAGnHEABpx0QAacegQGnHwMBtxzwAbcd
					AAG3HgABtx9AAdcc8AHXHQAB1x4AAdcfQAHn
					HPAB5x0AAeceAAHnH0ABRwwCAVcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC298</string>
					<key>CodecID</key>
					<integer>283902616</integer>
					<key>Comment</key>
					<string>ALC298 for ThinkPad T470 by WingChou</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABhxwwAYcdEAGHHoEBhx8CAhccQAIX
					HRACFx4hAhcfAgFHDAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
